@mixin font ($font-family, $font-size, $line-height, $font-weight, $color) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $color;
}

@mixin btn ($width, $padding, $bgColor, $border, $borderRadius) {
  width: $width;
  padding: $padding;
  background-color: $bgColor;
  border: $border;
  border-radius: $borderRadius;
}

@mixin flex ($direction, $justify, $align, $wrap: none, $gap: normal) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin container($width, $maxWidth, $margin: 0, $padding: 0, $bgColor, $borderRadius, $boxShadow: none, $backdropFilter: none) {
  width: $width;
  max-width: $maxWidth;
  margin: $margin;
  padding: $padding;
  background: $bgColor;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  backdrop-filter: $backdropFilter;
}
