// Ubunutu font-family
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

// font-family
$font-primary: "Ubuntu", sans-serif;

// colors
$white: rgba(255, 255, 255, 1);
$gray: rgba(229, 229, 229, 1);
$primary: rgba(28, 88, 242, 1);
$text: rgba(24, 26, 31, 1);
$charcoal: rgba(51, 51, 51, 1);
$separator-grey: rgba(225, 225, 223, 1);

$error: rgba(248, 30, 30, 1);
$success: rgb(6, 190, 6);
$warnning: rgb(252, 252, 50);

// viewports
$maxDesktop: 1440px;
$tabSize: 700px;