// border

// border radius
.br_8_0_8_8 {
  border-radius: 0.5rem 0 0.5rem 0.5rem;
}

.br_16_0_16_16 {
  border-radius: 1rem 0 1rem 1rem;
}

// box shadow
.box_shadow {
  box-shadow: 0px 4px 24px rgba(136, 166, 255, 0.05);
}