@import "./variables";

// color
.bg {
  color: $bg;
}

.error {
  color: $error;
}

.primary {
  color: $primary;
}

.text {
  color: $text;
}

.white {
  color: $white;
}

.warnning {
  color: $warnning;
}

// bg color
.bg_white {
  background-color: $white;
}

.bg_gray {
  background-color: $bg;
}

.bg_red {
  background-color: $primary;
}