@import "./variables";

// color
.gray {
  color: $gray;
}

.error {
  color: $error;
}

.primary {
  color: $primary;
}

.text {
  color: $text;
}

.white {
  color: $white;
}

.warnning {
  color: $warnning;
}

.green {
  color: $success;
}

.charcoal {
  color: $charcoal;
}

// bg color
.bg_white {
  background-color: $white;
}

.bg_gray {
  background-color: $gray;
}

.bg_red {
  background-color: $error;
}

.bg_primary {
  background-color: $primary;
}

.bg_blue {
  background-color: blue;
}

.error_red {
  color: red;
}