@import "./variables";

.hover_card_primary:hover {
  transition: 0.3s ease background-color;
  color: $white !important;
  background-color: $primary;
}

.hover_card_primary:hover .b_2_solid_black {
  border-color: $white;
}