// margin
.m_auto {
  margin: 0 auto;
}

.m_12 {
  margin: 0.75rem;
}

// margin x
.mx_12 {
  margin: 0.75rem 0;
}

// margin y
.my_12 {
  margin: 0 0.75rem;
}

// margin xy

// margin unidirection
.mt_12 {
  margin-top: 0.75rem;
}

// margin bottom
.mb_12 {
  margin-bottom: 0.75rem;
}