// margin
.m_auto {
  margin: 0 auto;
}

.m_12 {
  margin: 0.75rem;
}

// margin x
.mx_12 {
  margin: 0.75rem 0;
}

// margin y
.my_12 {
  margin: 0 0.75rem;
}

.my_16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// margin top
.mt_16 {
  margin-top: 1rem;
}

// margin unidirection
.mt_12 {
  margin-top: 0.75rem;
}

// margin bottom
.mb_8 {
  margin-bottom: 0.5rem;
}

.mb_12 {
  margin-bottom: 0.75rem;
}

.mb_20 {
  margin-bottom: 1.25rem;
}
