// margin
.m_12 {
  margin: 0.75rem;
}

// margin x
.mx_12 {
  margin: 0.75rem 0;
}

// margin y
.my_12 {
  margin: 0 0.75rem;
}

.my_16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}

// margin top
.mt_16 {
  margin-top: 1rem;
}



// margin unidirection