// padding
.p_16 {
  padding: 1rem;
}

.p_8 {
  padding: 0.5rem;
}

// padding x
.px_20 {
  padding: 1.25rem 0;
}

// padding y

// padding xy
.px_20_py_24 {
  padding: 1.25rem 1.5rem;
}

.px_1_py_12 {
  padding: 0.1rem 0.75rem;
}

// padding unidirection
.pt_12 {
  padding-top: 0.75rem;
}