// height
.h_40_px {
  height: 40px;
}

.h_64_px {
  height: 4rem;
}

.h_100 {
  height: 100%;
}

.h_1 {
  height: 1px;
}

// width
.w_100 {
  width: 100%;
}

.w_max {
  width: max-content;
}

.w_80 {
  width: 80%;
}

.w_75 {
  width: 75%;
}

.w_50 {
  width: 50%;
}

.w_40_px {
  width: 40px;
}

.w_64_px {
  width: 4rem;
}

// border radius
.br_8_0_8_8 {
  border-radius: 0.5rem 0 0.5rem 0.5rem;
}