// height
.h_40_px {
  height: 40px;
}

.vh_100 {
  height: 100vh;
}

// width
.w_100 {
  width: 100%;
}

.w_max {
  width: max-content;
}

.w_80 {
  width: 80%;
}

.w_75 {
  width: 75%;
}

.w_50 {
  width: 50%;
}

.w_40_px {
  width: 40px;
}
